// Bootstrap Breakpoints
// https://getbootstrap.com/docs/4.0/layout/overview/#responsive-breakpoints
$tablet: "(min-width: 576px)";
$mid-point: "(min-width: 768px)";
$desktop: "(min-width: 992px)";

// Colors
$background: #101010;
$color: #fefefe;
$link-color: #7bc6ff;
$offset: 30px;
