// Bootstrap breakpoints
// https://getbootstrap.com/docs/4.0/layout/overview/#responsive-breakpoints
// Sizes: xs, sm, md, lg, xl

$sm-screen: "(min-width: 576px)";
$md-screen: "(min-width: 768px)";
$lg-screen: "(min-width: 992px)";
$xl-screen: "(min-width: 1200px)";

// Colors
$background: #101010;
$color: #fefefe;
$link-color: #7bc6ff;
$offset: 30px;
